################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/.idea/.idea.Maraudr/.idea
/src/.vs/Maraudr
/src/Modules/Maraudr.User/Maraudr.User.Application/bin/Debug/net8.0
/src/Modules/Maraudr.User/Maraudr.User.Domain/bin/Debug/net8.0
/src/Modules/Maraudr.User/Maraudr.User.Domain/obj
/src/Modules/Maraudr.User/Maraudr.User.Domain/bin
/src/Modules/Maraudr.User/Maraudr.User.Application/obj
/src/Modules/Maraudr.User/Maraudr.User.Application/bin
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/obj
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/bin
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net9.0
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/obj

/src/Maraudr.Authentication.Infrastructure/obj
/src/Modules/Maraudr.Authentication/Maraudr.Authentication.Application/obj
/src/Modules/Maraudr.Authentication/Maraudr.Authentication.Domain/obj/Debug/net8.0
/src/Modules/Maraudr.Authentication/Maraudr.Authentication.Domain/obj
/src/Modules/Maraudr.Authentication/Maraudr.Authentication.Endpoints/obj
/src/Modules/Maraudr.Authentication/Maraudr.Authentication.Infrastructure/obj
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/Debug/net8.0
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/Maraudr.User.Endpoints.csproj.nuget.dgspec.json
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/Maraudr.User.Endpoints.csproj.nuget.g.props
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/Maraudr.User.Endpoints.csproj.nuget.g.targets
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/project.assets.json
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/project.nuget.cache
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/project.packagespec.json
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/rider.project.restore.info
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/project.nuget.cache
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/project.nuget.cache

/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/bin
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/bin
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/bin
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj
.env
*.env
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Debug/net8.0/Maraudr.EmailSender.Endpoints.AssemblyInfo.cs
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Debug/net8.0/Maraudr.EmailSender.Endpoints.AssemblyInfoInputs.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Debug/net8.0/Maraudr.EmailSender.Endpoints.assets.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Debug/net8.0/Maraudr.EmailSender.Endpoints.csproj.AssemblyReference.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Debug/net8.0/Maraudr.EmailSender.Endpoints.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Maraudr.EmailSender.Endpoints.csproj.nuget.dgspec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/Maraudr.EmailSender.Endpoints.csproj.nuget.g.props
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/project.assets.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/project.nuget.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/project.packagespec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/rider.project.restore.info
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Debug/net8.0/Maraudr.EmailSender.Infrastructure.AssemblyInfo.cs
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Debug/net8.0/Maraudr.EmailSender.Infrastructure.AssemblyInfoInputs.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Debug/net8.0/Maraudr.EmailSender.Infrastructure.assets.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Debug/net8.0/Maraudr.EmailSender.Infrastructure.csproj.AssemblyReference.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Debug/net8.0/Maraudr.EmailSender.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Maraudr.EmailSender.Infrastructure.csproj.nuget.dgspec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/Maraudr.EmailSender.Infrastructure.csproj.nuget.g.props
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/project.assets.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/project.nuget.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/project.packagespec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/rider.project.restore.info
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Application.dll
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Application.pdb
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Domain.dll
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Domain.pdb
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Endpoints.dll
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Endpoints.exe
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Endpoints.pdb
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Endpoints.staticwebassets.endpoints.json
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Endpoints.staticwebassets.runtime.json
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Infrastructure.dll
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/bin/Debug/net8.0/Maraudr.User.Infrastructure.pdb
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Debug/net8.0/Maraudr.EmailSender.Application.AssemblyInfo.cs
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Debug/net8.0/Maraudr.EmailSender.Application.AssemblyInfoInputs.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Debug/net8.0/Maraudr.EmailSender.Application.assets.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Debug/net8.0/Maraudr.EmailSender.Application.csproj.AssemblyReference.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Debug/net8.0/Maraudr.EmailSender.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Maraudr.EmailSender.Application.csproj.nuget.dgspec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/Maraudr.EmailSender.Application.csproj.nuget.g.props
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/project.assets.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/project.nuget.cache
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/project.packagespec.json
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/rider.project.restore.info
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/Maraudr.User.Endpoints/obj/Debug/net8.0/Maraudr.User.Endpoints.csproj.AssemblyReference.cache
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Application.dll
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Application.pdb
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Domain.dll
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Domain.pdb
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Infrastructure.dll
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net8.0/Maraudr.User.Infrastructure.pdb
/src/.idea/config/applicationhost.config
/Modules/Maraudr.User/obj/Maraudr.User.Infrastructure.EntityFrameworkCore.targets
/obj/--force.EntityFrameworkCore.targets
/src/.vs/ProjectEvaluation/maraudr.metadata.v9.bin
/src/.vs/ProjectEvaluation/maraudr.projects.v9.bin
/src/.vs/ProjectEvaluation/maraudr.strings.v9.bin
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Application/obj/rider.project.restore.info
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Endpoints/obj/rider.project.restore.info
/src/Modules/Maraudr.EmailSender/Maraudr.EmailSender.Infrastructure/obj/rider.project.restore.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Debug/net8.0/Maraudr.Geo.Application.AssemblyInfo.cs
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Debug/net8.0/Maraudr.Geo.Application.AssemblyInfoInputs.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Debug/net8.0/Maraudr.Geo.Application.assets.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Debug/net8.0/Maraudr.Geo.Application.csproj.AssemblyReference.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Debug/net8.0/Maraudr.Geo.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Maraudr.Geo.Application.csproj.nuget.dgspec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/Maraudr.Geo.Application.csproj.nuget.g.props
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/project.assets.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/project.nuget.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/project.packagespec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Application/obj/rider.project.restore.info
/src/Modules/Maraudr.MCP/McpServer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Modules/Maraudr.MCP/McpServer/obj/Debug/net8.0/apphost.exe
/src/Modules/Maraudr.MCP/McpServer/obj/Debug/net8.0/McpServer.assets.cache
/src/Modules/Maraudr.MCP/McpServer/obj/Debug/net8.0/McpServer.csproj.FileListAbsolute.txt
/src/Modules/Maraudr.MCP/McpServer/obj/Debug/net8.0/McpServer.GlobalUsings.g.cs
/src/Modules/Maraudr.MCP/McpServer/obj/McpServer.csproj.nuget.dgspec.json
/src/Modules/Maraudr.MCP/McpServer/obj/McpServer.csproj.nuget.g.props
/src/Modules/Maraudr.MCP/McpServer/obj/McpServer.csproj.nuget.g.targets
/src/Modules/Maraudr.MCP/McpServer/obj/project.assets.json
/src/Modules/Maraudr.MCP/McpServer/obj/project.nuget.cache
/src/Modules/Maraudr.MCP/McpServer/obj/project.packagespec.json
/src/Modules/Maraudr.MCP/McpServer/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.MCP/McpServer/obj/rider.project.restore.info
/src/src/Modules/Maraudr.Stock/obj/Maraudr.Stock.Infrastructure.EntityFrameworkCore.targets
/src/src/Modules/Maraudr.User/Maraudr.User.Endpoints/obj/Maraudr.User.Endpoints.EntityFrameworkCore.targets
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Debug/net8.0/Maraudr.Geo.Infrastructure.AssemblyInfo.cs
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Debug/net8.0/Maraudr.Geo.Infrastructure.AssemblyInfoInputs.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Debug/net8.0/Maraudr.Geo.Infrastructure.assets.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Debug/net8.0/Maraudr.Geo.Infrastructure.csproj.AssemblyReference.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Debug/net8.0/Maraudr.Geo.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Maraudr.Geo.Infrastructure.csproj.nuget.dgspec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/Maraudr.Geo.Infrastructure.csproj.nuget.g.props
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/project.assets.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/project.nuget.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/project.packagespec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Infrastructure/obj/rider.project.restore.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/Maraudr.Geo.Endpoints.AssemblyInfo.cs
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/Maraudr.Geo.Endpoints.AssemblyInfoInputs.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/Maraudr.Geo.Endpoints.assets.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/Maraudr.Geo.Endpoints.csproj.AssemblyReference.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/Maraudr.Geo.Endpoints.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Debug/net8.0/staticwebassets.removed.txt
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Maraudr.Geo.Endpoints.csproj.nuget.dgspec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/Maraudr.Geo.Endpoints.csproj.nuget.g.props
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/project.assets.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/project.nuget.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/project.packagespec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Endpoints/obj/rider.project.restore.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Debug/net8.0/Maraudr.Geo.Domain.AssemblyInfo.cs
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Debug/net8.0/Maraudr.Geo.Domain.AssemblyInfoInputs.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Debug/net8.0/Maraudr.Geo.Domain.assets.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Debug/net8.0/Maraudr.Geo.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Maraudr.Geo.Domain.csproj.nuget.dgspec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/Maraudr.Geo.Domain.csproj.nuget.g.props
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/project.assets.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/project.nuget.cache
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/project.packagespec.json
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/rider.project.model.nuget.info
/src/Modules/Maraudr.Geo/Maraudr.Geo.Domain/obj/rider.project.restore.info
