################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/.idea/.idea.Maraudr/.idea
/src/.vs/Maraudr
/src/Modules/Maraudr.User/Maraudr.User.Application/bin/Debug/net8.0
/src/Modules/Maraudr.User/Maraudr.User.Domain/bin/Debug/net8.0
/src/Modules/Maraudr.User/Maraudr.User.Domain/obj
/src/Modules/Maraudr.User/Maraudr.User.Application/obj
/src/Modules/Maraudr.User/Maraudr.User.Endpoints/obj
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/bin/Debug/net9.0
/src/Modules/Maraudr.User/Maraudr.User.Infrastructure/obj
